<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marker</title>
    <meta property="title" content="marker"/>
    <meta property="description" content="Shorten url's and make markdown pages!"/>
    <!--CREDIT TO CSS TO https://github.com/kognise/water.css CHECK IT OUT! ITS REALLY NICE!-->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div style="display:flex; margin-top: 10px;">
            <a style="margin-left:auto;margin-right:auto;" href="https://github.com/neelr/marker">@neelr/marker</a>
        </div>
        <h1>Hi. This is marker.</h1>
        <p>Shorten your links or make a markup document! Fill in the ID and the markup or the url and enter a password to change it in the future!</p>
        <form method="POST" action="/create">
            <input type="text" name="id" placeholder="ID" required/>
            <input type="url" name="url" placeholder="URL"/>
            <textarea style="height:25vh;" name="markdown" placeholder="markdown"></textarea>
            <input type="password" name="password" placeholder="password" required/>
            <input type="submit" value="Submit Short"/>
        </form>
    </div>
</body>

</html>